* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**********
  HEADER 
**********/

.header_container {
  min-height: 200px;
  padding: 0 80px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**********
  HEADER - NAV
**********/
h1 {
  font-size: 32px;
}

.nav {
  display: flex;
  align-items: center;
}

/**********
  HEADER - NAV - input
**********/

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 500px;
  padding-left: 10px;
  height: 40px;
  border-radius: 4px;
  margin-right: 5px;
}

.searchBtn {
  width: 30px;
  height: 40px;
  margin-right: 20px;
  background-color: rgb(58, 139, 214);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.iconify {
  color: white;
  width: 20px;
  height: 30px;
}

/**********
  TABLE
**********/

main {
  margin-top: 50px;
  text-align: center;
}

main > h3 {
  margin: 30px 0;
}

table {
  border-collapse: separate;
  text-align: right;
  width: 80%;
  margin: 0 auto;
  border-spacing: 0 30px;
  padding-right: 40px;
}

th {
  font-size: 20px;
}

td {
  border-bottom: 1px solid rgb(212, 212, 212);
}

.searched-coins {
  display: none;
}

.searched-coins > h3 {
  text-align: center;
  margin: 30px 0px auto;
}

.chart-main {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#chart_btn {
  padding: 10px;
  background-color: rgb(58, 139, 214);
  border-radius: 4px;
  border: none;
  color: #fff;
}

#chart_btn:hover {
  cursor: pointer;
}

div.chart {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/**********
  Searched crypto card
**********/

.searched-crypto {
  display: flex;
  justify-content: center;
}

.card {
  height: 100px;
  min-width: 180px;
  padding: 10px;
  margin: 20px 10px 40px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .card_title {
  text-transform: uppercase;
  font-weight: bold;
}

.card .card_data {
  text-align: right;
  margin-top: 40px;
  color: rgb(58, 139, 214);
}

.not_found {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}
