* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**********
  HEADER 
**********/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding: 0 80px;
  box-shadow: 0 2px 4px rgba(41, 41, 41, 0.4);
}

/**********
  HEADER - NAV
**********/

.nav {
  display: flex;
  align-items: center;
}

/**********
  HEADER - NAV - input
**********/

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 500px;
  height: 40px;
  border-radius: 4px;
  margin-right: 5px;
}

.searchBtn {
  width: 30px;
  height: 40px;
  margin-right: 20px;
  background-color: rgb(58, 139, 214);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.iconify {
  color: white;
  width: 20px;
  height: 30px;
}

/**********
  HEADER - NAV - filter dropdown
**********/

.dropbtn {
  background-color: rgb(58, 139, 214);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(58, 139, 214);
}

/**********
  TABLE
**********/

table {
  border-collapse: separate;
  text-align: right;
  width: 80%;
  margin: 0 auto;
  border-spacing: 0 30px;
  padding-right: 40px;
}

th {
  font-size: 20px;
}

td {
  border-bottom: 1px solid rgb(212, 212, 212);
}

.searched-coins {
  display: none;
}

.searched-coins > h3 {
  text-align: center;
  margin: 30px 0px auto;
}

.chart-main {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  
}

div.chart {
  display: flex;
  justify-content: center;
  margin-top: 15px;  
}
